
# Problems

In [1]:
 # Dates & Times. https://atlantictu-my.sharepoint.com/personal/ian_mcloughlin_atu_ie/_layouts/15/stream.aspx?id=%2Fpersonal%2Fian%5Fmcloughlin%5Fatu%5Fie%2FDocuments%2Fstudent%5Fshares%2Fcomputer%2Dinfrastructure%2F22%2Ddatetime%2Emkv&referrer=StreamWebApp%2EWeb&referrerScenario=AddressBarCopied%2Eview%2Eca70c99c%2D5d51%2D4c6a%2D8743%2D670d34da45a7
import datetime as dt

 # Data frames
import pandas as pd

# Yahoo finance data.
import yfinance as yf

## Problem 1: Data from yfinance

Using the yfinance Python package, write a function called get_data() that downloads all hourly data for the previous five days for the five FAANG stocks:
Facebook (META)
Apple (AAPL)
Amazon (AMZN)
Netflix (NFLX)
Google (GOOG)
The function should save the data into a folder called data in the root of your repository using a filename with the format YYYYMMDD-HHmmss.csv where YYYYMMDD is the four-digit year (e.g. 2025), followed by the two-digit month (e.g. 09 for September), followed by the two digit day, and HHmmss is hour, minutes, seconds. Create the data folder if you don't already have one.

https://github.com/ranaroussi/yfinance

In [2]:
# Get the data for Microsoft.
dat = yf.Ticker("MSFT")

In [3]:
# have a look.
dat.history(period='1mo')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-10-08 00:00:00-04:00,523.280029,526.950012,523.090027,524.849976,13363400,0.0,0.0
2025-10-09 00:00:00-04:00,522.340027,524.330017,517.400024,522.400024,18343600,0.0,0.0
2025-10-10 00:00:00-04:00,519.640015,523.580017,509.630005,510.959991,24133800,0.0,0.0
2025-10-13 00:00:00-04:00,516.409973,516.409973,511.679993,514.049988,14284200,0.0,0.0
2025-10-14 00:00:00-04:00,510.230011,515.280029,506.000000,513.570007,14684300,0.0,0.0
2025-10-15 00:00:00-04:00,514.960022,517.190002,510.000000,513.429993,14694700,0.0,0.0
2025-10-16 00:00:00-04:00,512.580017,516.849976,508.130005,511.609985,15559600,0.0,0.0
2025-10-17 00:00:00-04:00,509.040009,515.479980,507.309998,513.580017,19867800,0.0,0.0
2025-10-20 00:00:00-04:00,514.609985,518.700012,513.429993,516.789978,14665600,0.0,0.0
2025-10-21 00:00:00-04:00,517.500000,518.690002,513.039978,517.659973,15586200,0.0,0.0
2025-10-22 00:00:00-04:00,521.150024,525.229980,517.710022,520.539978,18962700,0.0,0.0
2025-10-23 00:00:00-04:00,522.460022,523.950012,518.609985,520.559998,14023500,0.0,0.0
2025-10-24 00:00:00-04:00,522.789978,525.349976,520.710022,523.609985,15532400,0.0,0.0
2025-10-27 00:00:00-04:00,531.780029,534.580017,529.010010,531.520020,18734700,0.0,0.0
2025-10-28 00:00:00-04:00,550.000000,553.719971,540.770020,542.070007,29986700,0.0,0.0
2025-10-29 00:00:00-04:00,544.940002,546.270020,536.729980,541.549988,36023000,0.0,0.0
2025-10-30 00:00:00-04:00,530.479980,534.969971,522.119995,525.760010,41023100,0.0,0.0
2025-10-31 00:00:00-04:00,528.880005,529.320007,515.099976,517.809998,34006400,0.0,0.0
2025-11-03 00:00:00-05:00,519.809998,524.960022,514.590027,517.030029,22374700,0.0,0.0
2025-11-04 00:00:00-05:00,511.760010,515.549988,507.839996,514.330017,20958700,0.0,0.0
2025-11-05 00:00:00-05:00,513.299988,514.830017,506.579987,507.160004,23024300,0.0,0.0
2025-11-06 00:00:00-05:00,505.660004,505.700012,495.809998,497.100006,27406500,0.0,0.0
2025-11-07 00:00:00-05:00,496.950012,499.380005,493.250000,496.820007,23980600,0.0,0.0

In [4]:
# https://ranaroussi.github.io/yfinance/
#tickers = yf.Tickers('META AAPL AMZN NFLX GOOG')

In [5]:
 # Different periods that can be used https://ranaroussi.github.io/yfinance/reference/api/yfinance.download.html
df = yf.download("META AAPL AMZN NFLX GOOG", period="5d")

/tmp/ipykernel_2989/2005363792.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("META AAPL AMZN NFLX GOOG", period="5d")
[*********************100%***********************]  5 of 5 completed

In [6]:
# can remove
type(df)

pandas.core.frame.DataFrame

In [7]:
# can remove
df.head

<bound method NDFrame.head of Price            Close                                                   \
Ticker            AAPL        AMZN        GOOG        META         NFLX
Date
2025-11-03  269.049988  254.000000  284.119995  637.710022  1100.089966
2025-11-04  270.040009  249.320007  278.059998  627.320007  1092.959961
2025-11-05  270.140015  250.199997  284.750000  635.950012  1098.459961
2025-11-06  269.769989  243.039993  285.339996  618.940002  1097.020020
2025-11-07  268.470001  244.410004  279.700012  621.710022  1103.660034

Price             High                                                   ...  \
Ticker            AAPL        AMZN        GOOG        META         NFLX  ...
Date                                                                     ...
2025-11-03  270.850006  258.600006  285.940002  659.330017  1133.500000  ...
2025-11-04  271.489990  257.010010  281.834015  641.739990  1104.599976  ...
2025-11-05  271.700012  251.000000  286.700012  642.229980  1100.849976  ...
2025-11-06  273.399994  250.380005  288.809998  636.000000  1103.699951  ...
2025-11-07  272.290009  244.899994  284.500000  622.130005  1108.219971  ...

Price             Open                                                   \
Ticker            AAPL        AMZN        GOOG        META         NFLX
Date
2025-11-03  270.420013  255.360001  282.420013  656.000000  1133.239990
2025-11-04  268.329987  250.380005  277.065002  628.039978  1099.989990
2025-11-05  268.609985  249.029999  279.380005  632.309998  1085.000000
2025-11-06  267.890015  249.160004  285.734985  635.849976  1094.579956
2025-11-07  269.799988  242.899994  284.209991  616.489990  1094.180054

Price         Volume
Ticker          AAPL      AMZN      GOOG      META     NFLX
Date
2025-11-03  50194600  95997800  19691800  33003600  5863400
2025-11-04  49274800  51546300  18123700  27356600  3871800
2025-11-05  43683100  40610700  20063200  20219900  3553900
2025-11-06  51204000  46004200  23103800  23628800  3653200
2025-11-07  48203600  46294900  21947100  29868200  4403400

[5 rows x 25 columns]>

In [8]:
# save data as csv - Oct 19th Comment - need to save in the root review lecture 21
 # https://atlantictu-my.sharepoint.com/personal/ian_mcloughlin_atu_ie/_layouts/15/stream.aspx?id=%2Fpersonal%2Fian%5Fmcloughlin%5Fatu%5Fie%2FDocuments%2Fstudent%5Fshares%2Fcomputer%2Dinfrastructure%2F21%2Dsaving%2Ddata%2Emkv&referrer=StreamWebApp%2EWeb&referrerScenario=AddressBarCopied%2Eview%2E4010ac0b%2D5f2f%2D49bd%2Da4c3%2Daff9bc770d09

# Save to csv file
df.to_csv('Data/data.csv')

# Dates & Times - 19th October 2025 lecture

https://docs.python.org/3/library/datetime.html

In [9]:
now = dt.datetime.now()

#show
now

datetime.datetime(2025, 11, 9, 9, 13, 1, 336750)

In [10]:
 # Format date & time

now.strftime("%Y%m%d-%H:%M:%S")

'20251109-09:13:01'

In [11]:
# File Name # cOMMENT oCT 19TH - nEED TO ADD LOCATION OF folder where file will save
now.strftime("%Y%m%d-%H:%M:%S")+ ".csv"

'20251109-09:13:01.csv'

## Problem 2: Plotting Data

Write a function called plot_data() that opens the latest data file in the data folder and, on one plot, plots the Close prices for each of the five stocks. The plot should include axis labels, a legend, and the date as a title. The function should save the plot into a plots folder in the root of your repository using a filename in the format YYYYMMDD-HHmmss.png. Create the plots folder if you don't already have one.

## Problem 3: Script

Create a Python script called faang.py in the root of your repository. Copy the above functions into it and it so that whenever someone at the terminal types ./faang.py, the script runs, downloading the data and creating the plot. Note that this will require a shebang line and the script to be marked executable. Explain the steps you took in your notebook

## Problem 4: Automation

Create a GitHub Actions workflow to run your script every Saturday morning. The script should be called faang.yml in a .github/workflows/ folder in the root of your repository. In your notebook, explain each of the individual lines in your workflow.

 ## End